#type{
    margin-left: 99px;
    width: 28%;
}

body{
    font-family: "Comic Sans MS", cursive, sans-serif ;
    font-size:11px;
    color: black;
}

#hcontainer{
    background-color: #eeefee;
    padding: .5px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid;
    position: relative;
    margin: auto;
}

#container{
    border-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    background-color: white;
    border: 1px solid;
    position: relative; 
}

#holder{
    width: 700px;
    margin: auto;
}

#title{
    margin-left: 100px;
    width: 60%;
}

#date1{
    margin-left: 93px;
    width: 13%;
}

#date2{
width: 13%;
}

#postdate{
    margin-left: 89px;
    width: 13%;
}

#out{
   padding-right: 600px;
   padding-left: 40px;
   padding-top: 40px;
}

#in{
    background-color: oldlace;
   padding-top: 10px;
   padding-left: 30px;
}

#save, #cancel{
    width: 90px;
    height: 25px;
}